@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  /* background:rgba(0, 0, 0, 0.244);     */
      /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #ff324d;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}