
    .hover-bg{
    background-color: rgba(128, 128, 128, 0.461);
    display: none;
    transition: 10s;
}
.hover-btn{
    background:rgb(255, 255, 255);
    padding: 5px 5px;
    border-radius: 2px;
    cursor: pointer;
    
}
.hoverimg:hover>.hover-bg{
    display: block;
    
}
.hoverimg:hover>.hover-btn{
transform: scale(1.5);
}